---
import { type CollectionEntry, getCollection } from "astro:content";
import type { Metadata } from "@lib/Metadata";
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";

interface Props {
  photo: CollectionEntry<"photos">;
}
const { photo } = Astro.props;

export async function getStaticPaths() {
  const photos = await getCollection("photos");
  return photos.map((p) => ({
    params: { slug: p.slug },
    props: { photo: p },
  }));
}

const meta: Metadata = {
  title: `${photo.data.title} - TERAS`,
  description: photo.data.description,
  imageSrc: photo.data.compressed.src,
};
---

<BaseLayout meta={meta}>
  <Section title={photo.data.title} name={photo.data.name}>
    <div>
      <img
        src={photo.data.compressed.src}
        alt={photo.data.alt}
        class="w-full rounded-xl"
      />
    </div>
    <div class="my-3 md:flex md:flex-col">
      <div class="flex-auto space-y-2">
        <div>
          <p>
            {photo.data.description}
          </p>
        </div>
      </div>

      <div class="my-3 mt-12 md:flex md:flex-col">
        <div class="flex-auto space-y-2">
          {
            photo.data.price ? (
              <>
                <a
                  href="https://forms.gle/g3js6eZ1VeFSbCMh8"
                  class="text-md mt-3 inline-flex animate-bounce rounded-lg bg-pendopo px-4 py-2 font-medium tracking-wide text-white hover:animate-none focus:animate-none"
                >
                  <span class="ml-2">💛 Bid Karya Lelang</span>
                </a>
                <p class="text-sm">Harga Awal Lelang :</p>
                <h2 class="text-3xl font-bold">Rp. {photo.data.price}</h2>
                <p class="text-sm">
                  Harga terupdate bisa langsung cek di link berikut
                  <a
                    href="https://docs.google.com/spreadsheets/d/1jTFsgtzhFCACy__fShQ5W9HKAud8KGSUeZv0a4gJa-g/edit?usp=sharing"
                    target="_blank"
                    style="text-decoration: underline;"
                  >
                    Data Harga Lelang terkini
                  </a>
                </p>
              </>
            ) : (
              <h2 class="text-3xl font-bold" />
            )
          }
        </div>
      </div>
    </div>
  </Section>
</BaseLayout>
