---
import { getEntryBySlug } from "astro:content";
import type { Metadata } from "@lib/Metadata";
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import Section from "@components/Section.astro";

const photos = await Promise.all([
  getEntryBySlug("photos", "001_yudha"),
  getEntryBySlug("photos", "002"),
  getEntryBySlug("photos", "003"),
  getEntryBySlug("photos", "004"),
  getEntryBySlug("photos", "006"),
  getEntryBySlug("photos", "008"),
  getEntryBySlug("photos", "009"),
  getEntryBySlug("photos", "010"),
  getEntryBySlug("photos", "011"),
  getEntryBySlug("photos", "013"),
  getEntryBySlug("photos", "014"),
  getEntryBySlug("photos", "015"),
  getEntryBySlug("photos", "016"),
  getEntryBySlug("photos", "017"),
  getEntryBySlug("photos", "023"),
  getEntryBySlug("photos", "024"),
  getEntryBySlug("photos", "025"),
  getEntryBySlug("photos", "026"),
  getEntryBySlug("photos", "027"),
  getEntryBySlug("photos", "029"),
  getEntryBySlug("photos", "030"),
  getEntryBySlug("photos", "031"),
  getEntryBySlug("photos", "032"),
  getEntryBySlug("photos", "033"),
  getEntryBySlug("photos", "034"),
  getEntryBySlug("photos", "035"),
  getEntryBySlug("photos", "036"),
  getEntryBySlug("photos", "037"),
  getEntryBySlug("photos", "038"),
  getEntryBySlug("photos", "039"),
  getEntryBySlug("photos", "040"),
  getEntryBySlug("photos", "041"),
  getEntryBySlug("photos", "042"),
  getEntryBySlug("photos", "043"),
  getEntryBySlug("photos", "044"),
  getEntryBySlug("photos", "045"),
  getEntryBySlug("photos", "046"),
  getEntryBySlug("photos", "047"),
  getEntryBySlug("photos", "049"),
  getEntryBySlug("photos", "050"),
  getEntryBySlug("photos", "051"),
  getEntryBySlug("photos", "052"),
  getEntryBySlug("photos", "053"),
  getEntryBySlug("photos", "054"),
  getEntryBySlug("photos", "055"),
  getEntryBySlug("photos", "056"),
  getEntryBySlug("photos", "057"),
  getEntryBySlug("photos", "059"),
  getEntryBySlug("photos", "060"),
  getEntryBySlug("photos", "061"),
  getEntryBySlug("photos", "062"),
  getEntryBySlug("photos", "063"),
  getEntryBySlug("photos", "064"),
  getEntryBySlug("photos", "065"),
  getEntryBySlug("photos", "066"),
  getEntryBySlug("photos", "067"),
  getEntryBySlug("photos", "068"),
  getEntryBySlug("photos", "069"),
]);

const meta: Metadata = {
  title: "Karya Purwa Rupa 2024",
  description: "Hari Menggambar Nasional 2024",
};
---

<BaseLayout meta={meta}>
  <Hero title="Karya Purwa Rupa" detail="Hari Menggambar Nasional 2024" />
  <Section title="" name="">
    <div class="grid-standard">
      {
        photos.map(({ data, slug }) => (
          <div class="relative">
            <a href={`/photos/${slug}`} class="block">
              <img
                src={data.compressed.src}
                alt={data.alt}
                class="h-auto w-full"
              />
              <div class="bg-black text-white absolute top-0 left-0 p-2 text-lg font-semibold">
                #{data.title}
              </div>
            </a>
          </div>
        ))
      }
    </div>

    <div class="flex flex-col mt-12">
      <div>
        <h2 class="text-1xl font-bold">Alternatif jika load image terlalu lama, Anda bisa mengunjungi link berikut:</h2>
      </div>
      <!-- ... -->
      <div class="mt-4">
        <a href="https://drive.google.com/drive/folders/1mP3mGwA2dKl27fKIbitMFJgBCUUnsOLz?usp=sharing" class="bg-white-500 hover:bg-white-700 text-white font-bold py-2 px-4 border border-white-700 rounded inline-block text-center" target="_blank">  Lihat Semua Karya di Google Drive</a>
        
      </div>
    </div>
    
  </Section>
</BaseLayout>
